.about {
  h5 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  p {
    letter-spacing: 0.15rem;
    line-height: 1.8rem;
    width: 80%;
  }
}
